body {
    font-family: "Raleway", sans-serif;
}

#primera-seccion {
    background-color: black;
    
    color: aliceblue;
}

.foto{
    height: 250px;
}
.informacion{
    list-style: none;
    text-align: left;
}

#Mis-trabajos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#Contacto form label {
    font-weight: 700;
    color: #373a3c;
}

@media (max-width: 768px) {
    #Contacto form label {
    font-weight: 400;
    }

    .navbar-brand{
    width: 100px;
    }

}
